<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.articles.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.ui.articles.perspective.MainPerspective"
            id="org.eclipse.ui.articles.views.perspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
   <perspective
         name="Test"
         class="org.eclipse.ui.articles.perspective.TestPerspective"
         id="org.eclipse.ui.articles.perspective.Test">
   </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.articles.views.LabelView"
            icon="icons/alt_about.gif"
            id="org.eclipse.ui.articles.views.labelview"
            name="Label View"
            restorable="true">
      </view>
      <category
            id="org.eclipse.ui.article"
            name="Article">
      </category>
      <view
            category="org.eclipse.ui.article"
            class="org.eclipse.ui.articles.views.WordView"
            id="org.eclipse.ui.articles.views.wordview"
            name="Word View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui.article"
            class="org.eclipse.ui.articles.views.ListenerView"
            id="org.eclipse.ui.articles.views.ListenerView"
            name="WordListenerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.ui.articles.views.wordview"
               minimized="false"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
  <!-- <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.ui.articles.views.labelview"
               minimized="false"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension> -->

<!-- An action can be added to a context menu by defining an extension for the org.eclipse.ui.popupMenus extension point in the workbench plug-in. 
For instance, the following XML can be used to add the "Word Action" to the context menu for Word objects.
-->
	<extension 
		point="org.eclipse.ui.popupMenus">
     <objectContribution
                id="org.eclipse.ui.articles.pm1"
             objectClass="org.eclipse.ui.articles.views.data.Word">
                <action 
                        id="org.eclipse.ui.articles.a1"
                        label="Word Action" 
                        menubarPath="additions" 
                        class="org.eclipse.ui.articles.views.action.delegate.WordActionDelegate"/>
        </objectContribution>
	</extension>
	<!-- In some situations the objectClass and nameFilter attributes are not enough to describe the intended target object. 
	  Within an objectContribution, a plug-in developer may define filter sub elements. 
	  Each filter describes one attribute of the target object using a name value pair.  
	  For instance, the following XML can be used to target an action at any Word object with name = "Blue".  
	  Notice how the filter sub element () is used to define an attribute value pair.
	-->
	<extension 
		point="org.eclipse.ui.popupMenus">
        <objectContribution
                id="org.eclipse.ui.articles.pm2"
                objectClass="org.eclipse.ui.articles.views.data.Word">
             <filter name="name" value="Blue"/>
                <action 
                        id="org.eclipse.ui.articles.a2"
                        label="Blue Action" 
                        menubarPath="additions" 
                        class="org.eclipse.ui.articles.views.action.delegate.BlueActionDelegate"/>
        </objectContribution>
	</extension>
	

</plugin>
