.wwFormTable {}
.label {
    font-style:italic;
    float:left;
    width:30%
}
.errorLabel {font-style:italic; color:red; }
.errorMessage {font-weight:bold; text-align: center; color:red; }
.checkboxLabel {}
.checkboxErrorLabel {color:red; }
.required {color:red;}

span.percent {
    /*background-color: rgba(255, 0, 255, 0.2)*/
    /*border-style: solid;*/
    border-style: outset;
    border-width: thin;
}

div.topic_slot {
    margin: 3px;
}
