<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="TreeViewerPerspective"
            class="org.eclipse.ui.articles.treeviewer.Perspective"
            id="org.eclipse.ui.articles.treeviewer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.eclipse.ui.articles.treeviewer.View"
            id="org.eclipse.ui.articles.treeviewer.view">
      </view>
       <view
            name="FileSystemExplorer View"
            class="raz.test.filesystem.views.FileSystemExplorerView"
            id="raz.test.filesystem.FileSystemExplorerView">
      </view>
       <view
             class="raz.test.filesystem.views.FileExplorerView"
             id="raz.test.filesystem.views.FileExplorerView"
             name="FileExplorerView"
             restorable="true">
       </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      

      <perspectiveExtension
            targetID="*">
         <view
               id="raz.test.filesystem.views.FileExplorerView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
